<a href="https://colab.research.google.com/github/shreya-bhonagiri/python-assignment-1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#question 1
print(0.1+0.2)    #add the float values
print(87>78)      #statement T/F
print((0.1+0.2)==0.3)  #statement T/F
print("predict" "output",".......")

0.30000000000000004
True
False
predictoutput .......

In [3]:
#question 2
print("Prints","Multiple","Messages\n")
print("concatenate"+"two strings\n")
print(5+6+" add two numbers\n")

Prints Multiple Messages

concatenatetwo strings

TypeError: ignored

In [4]:
print("ba"+"na"*2)
print(r"C:\naresh\raju\abhi")

banana
C:\naresh\raju\abhi

In [6]:
#question 4
print('Welcome to python traing program'[28:-40:-4])
print('A series of charecters designated as one object known as a string'[2:18:5])

g anytoW
sscc

In [7]:
#question 5
print('A series of charecters designated as one object known as a string'[::-1][4::3])
print("--------------")
print('Welcome to python traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
--------------
ot emoc

In [10]:
#question 6.a
str1=True
x= 5> 3
print(str1==x)
y= 5 > 8
print(str1==y)

True
False

In [18]:
#question 6.b
num=7
Name = "Michael jackson"
sear_num = Name.find('el')
print(num > sear_num )

True

In [41]:
#question 7
p_phrase="Was it a car or a cat I saw"[27::-1]
p_phrase.upper()

'WAS I TAC A RO RAC A TI SAW'

In [26]:
#question 8
A='1934567'
A[1::2]

'946'

In [27]:
#question 9
fake_phrase=" Fake news has a knack for spreading like wildfire"[-10:15:-1]
fake_phrase.upper().split()

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

In [28]:
#question 10
msg="Facebook already uses AI to Filter Fake stories from the feeds of users"
print(msg.split())

['Facebook', 'already', 'uses', 'AI', 'to', 'Filter', 'Fake', 'stories', 'from', 'the', 'feeds', 'of', 'users']

In [30]:
#question 11
msg2="Welcome to sr engineering college"
x=msg2.count('o')
y=msg2.count('r')
print(x)
print(y)
#here the count(element) command count the number of reptations of the element specified within the brackets.
msg[y**x:(x**y+x+y):][::-1]
#In the above line the x and y values are taken from the lines mentioned be fore in this program.In the first square bracket ,1st element indicates lower boundary ,that is 9th position.2nd elements indicated the upper boundar y, that is 14th position.and next square bracket indicates the reverse order of the strings.

3
2

'aerla '

In [31]:
#question 12.a
num1,num2="94","30"
data="As per census 2011, Gender ratio of India is 943 females per 1000 males"
num1+num2[0] in data

True

In [35]:
#question 12.b
print(data[:45],print(int(num1)+int(num2)))

124
As per census 2011, Gender ratio of India is  None

In [37]:
#question 13
M=float(input('Amount of water in kgs'))
intial=float(input('Initial Temperature in degreee celsius'))
final=float(input('Final Temperature in degree celsius'))
Q=4184*M*(final-intial)
print(f'The energy required to heat water from an Initial to Final temperature is {Q} joules')

Amount of water in kgs100
Initial Temperature in degreee celsius30
Final Temperature in degree celsius130
The energy required to heat water from an Initial to Final temperature is 41840000.0 joules

In [39]:
#question 14
x=int(input('x'))
y=x*2
print(f"The generated word is : {'z'*x+'o'*y}")

x3
The generated word is : zzzoooooo

In [40]:
#question 15
x=int(input('X'))
y=int(input('Y'))
pow=x**y
print(pow)
div=int(pow/(x*y))
print(div)
print(div^(x+y))

X6
Y9
10077696
186624
186639